.home-banner {
    height:70vh;
    width: 180vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-container {
  align-self: center;
}

.banner-image {
    width: 200px;
    height: 160px;
    min-height: 150px; /* Added to show image */
    background-color: black
}