<div class="container">
  <button (click)="switch()">dark</button>
  <table [class]="container">
    <th>
      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
        <div [class]="container">
          <h1><b>Hasan Tayar</b></h1>
          <p>212530711</p>
        </div>
      </div>
    </th>
    <th>
      <div class="card">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt= "Avatar" style="width:100%">
        <div [class]="container">
          <h1><b>Saleh Saeed</b></h1>
          <p>209112861</p>
        </div>
      </div>
    </th>
</table>
</div>